:root {
    --color-primary: #282c34FF;
    --color-secondary: #1f2839FF;
    --color-accent: rgba(153, 172, 207, 0.809);
    --color-background: #4e4e54FF;
    --color-surface: #00000085;
    --color-text: #FFFFFFFF;
    --color-text-secondary: #FFFFFF88;
}