.contentBlock {
    margin: 2.5vh;
    background-color: var(--color-surface);
    border: 1px solid var(--color-accent);
    border-radius: 6px;
    padding: 1rem;
    gap: 1rem; /* space between text and figure */
}
@media (max-width: 600px) {
    .figureWrapper {
        float: none;
        margin: 1rem 0;
        width: 100%;
    }
}
.contentBlock::after {
    content: "";
    display: table;
    clear: both;           /* clears floats so container height expands */
}
.figureWrapper {
    float: right;
    align-items: center; /* center the image */
    counter-increment: figure-counter;
}

.figure {
    max-width: clamp(20rem, 22vw, 25rem);
    max-height: clamp(20rem, 22vw, 25rem);
    height: auto;
    border-radius: 5px;
}

.figureCaption::before {
    content: "Figure " counter(figure-counter) ": ";
    font-weight: bold;
}

.figureCaption {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: var(--color-accent);
    text-align: center;

}
.sectionHeader {
    margin-top: 0.5rem;
    font-size: 2rem;
    color: var(--color-text);
}
.contentSection {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: var(--color-text-secondary);
}