.header-wrapper {
    display: flex;
    align-items: stretch;
    --titleBarHeight: 97px;
    --navBarHeight: 72px;
    --titleBarColor: #282c34;
    --navBarColor: #1f2839;
}

.bars {
    display: flex;
    flex-direction: column;  /* stack titlebar + navbar vertically */
    flex: 1;                 /* take all remaining width */
}

.titlebar {
    display: flex;              /* puts items horizontally */
    align-items: center;        /* vertically center items */
    padding: 10px 0px;
    background-color: var(--titleBarColor);
    height: var(--titleBarHeight);
}

.titlebar-title {
    font-size: calc(var(--titleBarHeight) * 0.8);
    color: #FFFFFF;
    margin: 5px;
}

.titlebar-logo {
    width: auto;                /* resize as needed */
    height: calc(var(--navBarHeight) + var(--titleBarHeight));
    margin-right: 0;
    border-width: 0 0 10px 10px;
    border-style: solid;
    border-image: black;
}

.navbar {
    display: flex;              /* puts items horizontally */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;        /* vertically center items */
    padding: 30px 10px;
    background-color: var(--navBarColor);
    height: var(--navBarHeight);
    position: relative;
    background: linear-gradient(to bottom, rgba(0,0,0,1), var(--navBarColor), var(--navBarColor));
}

.navbarEntry {
    flex: 1;
    align-self: center;
    text-align: center;
    position: relative;
    font-size: calc(var(--navBarHeight) * 0.5);
    color: #FFFFFF;
    margin: 10px;
}

/* Add vertical gradient separator on the right */
.navbarEntry:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 10%;              /* start fade a bit from the top */
  bottom: 10%;           /* end fade a bit before the bottom */
  right: 0;              /* right edge of item */
  width: 2px;            /* thickness of the divider */
  background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0.5), rgba(255,255,255,0));
}