.header-wrapper {
    display: flex;
    align-items: stretch;
    --titleBarHeight: 16vh;
    --navBarHeight: 10vh;
    --titleBarColor: #282c34;
    --navBarColor: #1f2839;
}

.bars {
    display: flex;
    flex-direction: column;  /* stack titlebar + navbar vertically */
    flex: 1;                 /* take all remaining width */
}

.titlebar {
    display: flex;              /* puts items horizontally */
    flex-direction: column;
    align-items: flex-start;        /* vertically center items */
    background-color: var(--titleBarColor);
    height: var(--titleBarHeight);
    background: linear-gradient(to left top, var(--titleBarColor), var(--titleBarColor), rgba(0,0,0,1));
}

.titlebar-title {
    font-size: calc(var(--titleBarHeight) * 0.4);
    color: #FFFFFF;
    margin-top: 1vh;
    margin-left: 2vh;
    margin-bottom: 0;
}
.titlebar-text {
    font-size: small;
    color: rgba(255, 255, 255, 0.465);
    display: flex;
    flex-direction: column;   /* stacks title + details vertically */
    justify-content: center;  /* optional: vertically center text */
    margin: 1vh;
    margin-top: 0;
}

.titlebar-logo {
    width: auto;                /* resize as needed */
    height: calc(var(--navBarHeight) + var(--titleBarHeight));
    margin-right: 0;
    border-width: 0 0 2px 2px;
    border-style: solid;
    border-image: black;
}

.navbar {
    display: flex;              /* puts items horizontally */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;        /* vertically center items */
    padding: 30px 10px;
    background-color: var(--navBarColor);
    height: var(--navBarHeight);
    position: relative;
    background: linear-gradient(to bottom, rgba(0,0,0,1), var(--navBarColor), var(--navBarColor));
}

.navbarEntry {
    flex: 1;
    align-self: center;
    text-align: center;
    position: relative;
    font-size: calc(var(--navBarHeight) * 0.3);
    color: #FFFFFF;
    margin: 10px;
}

/* Add vertical gradient separator on the right */
.navbarEntry:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 10%;              /* start fade a bit from the top */
  bottom: 10%;           /* end fade a bit before the bottom */
  right: 0;              /* right edge of item */
  width: 2px;            /* thickness of the divider */
  background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0.5), rgba(255,255,255,0));
}